body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}
#sidebar{
    background-color: #013048;
    width: 35vw;
    height: fit-content;
    overflow: hidden;
   
}
.profile,h1,h4{
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    padding: 5px;
    margin-left: 3px;
}
.web h4{
    font-weight: 300;
    margin-left: 5px;
}
#sidebar img{
    margin-left: 150px;
    vertical-align: bottom;
    border-radius: 50%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.contactinfo,.title h4{
    font-weight: 700;
    padding-left: 42px;
}
.contactinfo,.list-item {
    line-height: 2rem;
    list-style: none;
}
.contactinfo,.list-item i{
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    display: inline;
    text-transform: none;
    font-weight: 200;
}
.contactinfo i{
    color: #0892d8;
}
.Education .year,.date,h6 ,h5{
   text-transform: none;
   font-size: 1.1rem;
   font-weight: 300;
   list-style: none;
   line-height: 2rem;
}
.language.known,li{
    line-height: 1rem;
  
    list-style: none;
    padding: 10px;
}
.heading h4{
    margin-left: 40px;
    font-weight: 700;
}
.number h6{
    color: #0892d8;
    font-weight: 800 !important;
    font-size: .80rem;
}
.speak{
    margin-left: 4px;
    font-weight: 400;
}
.Education,.univercity h6{
    font-weight: 500;
    font-size: 1rem;
}
.Education,.degree,h5{
    font-weight: 350;
}
.cardless h3{
    width: 60vw;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
.skills-items,p{
    color: #848c99;
    font-weight: 500;
    line-height: 1.8rem;
}
.skills-items,ul,li{
    line-height: 2rem;
}
.pref{
    font-weight: 400;
    margin-left: 5px;
    display: inline-flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
.cardless-body {
    height: fit-content;
}

@media only screen and (max-width: 767px) {
    #sidebar{
        width: 100%;
    }
    .cardless-body {
        width: 100%;
        padding: 4px;
    }
    #sidebar img {
          height: 35%;
          width: 25%;
          margin-left: 200px;
    }  
     .profile,h1 {
        margin-right: 40px;
     }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    
   .cardless-body {
        width: 56vw;   
       float: right;
   }
   #sidebar {
    width: 40vw;
    height: 1350px;
   }
    #sidebar img{
        align-items: center;
        justify-content: center;
        display: block;
        margin-left: 50px;        
    }
     .profile,h1{
        margin-left: 20px;    
   }
   .web{
    margin-right:95px;
  
   }

}
