body{
    padding: 0;
    margin: 0;
}
#sidebar {
    background-color: gray;
    height: calc(100vh - 57px);
    width: 200px;
}
#sidebar a {
    color: #fff;
}
#sidebar a.active {
    text-decoration: underline;
}
@media (max-width: 767px) {
    #sidebar {
        width: 50px;
    }
}
.main-content {
    max-height: calc(100vh - 57px);
    overflow: auto;
}